<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<div class="container mt-2">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Выполнено</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td><a th:text="${task.title}" th:href="@{/task/{taskId}(taskId=${task.id})}"></a></td>
                <td th:text="${task.created.format(T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm'))}"/>
                <td th:text="${task.done != null and task.done == true} ? 'да' : ''"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<div th:include="fragments/footer :: footer"></div>
</html>